name: 1. Build & Test

on:
  push:
    branches:
      - 'feature/**'

permissions:
  contents: read

jobs:
  call-build-test:
    name: Build & Test
    uses: barbarastefany/reusable-workflows/.github/workflows/1-build-test.yml@main
    with:
      java-version: '17'
    secrets: inherit
