name: Call 3. Create PR to Main
on:
  push:
    branches:
      - develop

permissions:
  contents: write
  pull-requests: write

jobs:
  pr-develop-to-main:
    uses: barbarastefany/reusable-workflows/.github/workflows/3-pr-to-main.yml@main
    secrets: inherit
